<div class="qbr-brochure" id="GettingStartedPage">
  <header id="qbr-main-header">
    <div class="qbr-FinePrint-topSection">
      <div class="row">
        <h1 class="qbr-FinePrint-center-hd text-center">Getting Started</h1>
        <p class="small-12 large-8 large-centered columns text-center">Whether you’re a sole trader or growing enterprise, your business can earn Qantas Points on eligible flights and everyday business purchases.</p>
      </div>
    </div>
    <div class="qbr-finePrint-nav-fixed-main qbr-main-header-nav">
      <div class="qbr-finePrint-nav-desk qbr-nav-desktop">
        <div class="qbr-finePrint-nav-fixed">
          <div class="row">
            <ul class="qbr-finePrint-nav">
              <li><a data-target="earn" class="qbr-anchor-link qbr-finePrint-nav-scroll-1 qbr-finePrint-selectLink">Earning points</a></li>
              <li><a data-target="track" class="qbr-anchor-link qbr-finePrint-nav-scroll-2">Tracking points</a></li>
              <li><a data-target="use" class="qbr-anchor-link qbr-finePrint-nav-scroll-3">Using points</a></li>
              <li><a data-target="levels" class="qbr-anchor-link qbr-finePrint-nav-scroll-4">Membership levels</a></li>
              <li><a data-target="users" class="qbr-anchor-link qbr-finePrint-nav-scroll-5">Add account users</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="qbr-finePrint-nav-mobile qbr-nav-mobile">
        <div class="qbr-finePrint-nav-fixed ">
          <div class="qbr-finePrint-nav-chev" id="qbr-finePrint-nav-join"><a class="qbr-finePrint-nav-join">Jump to..</a></div>
          <nav class="qbr-finePrint-nav-join-nav">
            <div class="row">
              <ul class="qbr-finePrint-nav qbr-finePrint-Mobnav">
                <li><a data-target="earn" class="qbr-anchor-link qbr-finePrint-nav-scroll-1 qbr-finePrint-selectLink">Earning points</a></li>
                <li><a data-target="track" class="qbr-anchor-link qbr-finePrint-nav-scroll-2">Tracking points</a></li>
                <li><a data-target="use" class="qbr-anchor-link qbr-finePrint-nav-scroll-3">Using points</a></li>
                <li><a data-target="levels" class="qbr-anchor-link qbr-finePrint-nav-scroll-4">Membership levels</a></li>
                <li><a data-target="users" class="qbr-anchor-link qbr-finePrint-nav-scroll-5">Add account users</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="items qbr-finePrints-middleSec">
      <div class="qbr-finePrints-Sec-1" id="earn">
        <div class='row'>
          <div class="qbr-panel columns">
            <div class='row collapse'>
              <div class="large-10 large-push-1">
                <div class="">
                  <div class="small-12 column medium-column-thick-pad">
                    <h2>How to earn points and save when flying</h2>
                  </div>
                </div>
                <div class="">
                  <div class="large-6 column medium-column-thick-pad">
                    <p>To access exclusive savings on eligible flights, just use the flight booking tool when logged in to Qantas Business Rewards, the Qantas App or book with your preferred travel agent.</p>
                    <p>Savings range between <strong>5% and 8% off the base fare</strong>, depending on your business’s membership level.</p>
                    <p>Your business earns points as does the Frequent Flyer traveller - for the same flight.</p>
                    <p>Simply add your ABN and Qantas Frequent Flyer number in every booking to earn points for your business and your traveller.</p>
                  </div>
                  <div class="small-12 large-6 column medium-column-thick-pad">
                    <figure role="presentation" class="qbr-basic-figure show-for-desktop" id="earning-figure-1">
                      <img src="/documents/10482/416550/how-to-desktop@2x.png" alt="How to earn points and save when flying">
                      <p class="caption">Look for this symbol for discounted fares</p>
                    </figure>
                    <div class="row show-for-mobile text-center">
                      <img id="earning-figure-2" role="presentation" src="/documents/10482/416550/how-to-mobile@3x.png" alt="How to earn points and save when flying">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="small-12 large-10 small-centered">
                <div class="qbr-promo qbr-promo--inline qbr-dark">
                  <h3>Other ways to book flights </h3>
                  <ul class="qbr-list">
                    <li><a href='https://www.qantasbusinessrewards.com/manage-travellers'>Saved travellers</a> can book flights on behalf of your business through the <strong>Qantas App</strong> if your business allows it.</li>
                    <li>You can still book with a <strong>travel agent</strong> by providing them with your membership level</li>
                    <li>Through <a href='http://qantas.com'>qantas.com</a> and adding your ABN to the booking.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div class="large-10 large-push-1">
                <div class="">
                  <div class="large-6 column medium-column-thick-pad">
                    <h2>How to earn points for everyday business purchases</h2>
                    <p>You can earn points from more than <a href='https://www.qantasbusinessrewards.com/earn-points/'>50 partners representing a wide range of services and industries</a> - financial services, office suppliers and electronics, fuel, car hire, secure parking, travel companies and many more - just for running your business.</p>
                    <p>Points earned varies between partners ($1= 4 Qantas Points with some car rental firms, while $1=3 Qantas Points with new Samsung Electronics products - conditions apply).</p>
                    <p>Just quote your ABN when making eligible purchases to earn Qantas Points for your business.</p>
                  </div>
                  <div class="large-6 column">
                    <div id="earning-logos" class='row collapse'>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="61" height="74" src='/documents/10482/416550/logo-amex.png' alt='American Express' />
                        </div>
                      </div>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="60" src='/documents/10482/416550/logo-westpac.svg' alt='Westpac' />
                        </div>
                      </div>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="100" src='/documents/10482/416550/logo-caltex.png' alt='Caltex' />
                        </div>
                      </div>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="42" src='/documents/10482/416550/logo-dell.svg' alt='Dell' />
                        </div>
                      </div>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="70" src='/documents/10482/416550/logo-avis.svg' alt='Avis' />
                        </div>
                      </div>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="64" src='/documents/10482/416550/logo-vodafone.svg' alt='Vodafone' />
                        </div>
                      </div>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="94" src='/documents/10482/416550/logo-samsung.svg' alt='Samsung' />
                        </div>
                      </div>
                      <div class='small-6 column qbr-logo-badge'>
                        <div class='qbr-logo-badge-inner'>
                          <img width="90" src='/documents/10482/416550/logo-nrma.png' alt='NRMA' />
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='column text-center'>
                        <a class="qbr-general-action-btn" href="/booking-tools">See all the ways to earn points</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="qbr-finePrints-Sec-2" id="track">
        <div class='row'>
          <div class="qbr-panel qbr-panel--small-no-pad-btm columns">
            <div>
              <div class="large-10 large-push-1">
                <div class="">
                  <div class="large-6 column">
                    <h2>How to track points earned</h2>
                    <p>See any incoming and outgoing points on the <a href='https://www.qantasbusinessrewards.com/points-activity'>Points activity</a> page. You can search or filter by date range for a more customised view and export a copy of the statement.</p>
                  </div>
                  <div class="large-6 column medium-collapse">
                    <div id="track-promo" class="qbr-promo qbr-promo qbr-dark">
                      <h3>Points not there?</h3>
                      <p>The time taken for points to appear in your account can vary between partners; in some cases, up to 90 days.</p>
                      <p>See the <a href='https://www.qantasbusinessrewards.com/claim-missing-partner-points'>full list of business partners</a> including details of how long it may take for Qantas Points to be credited to your account. If after the nominated time period you’re still missing Qantas Points, you can make a <a href='https://www.qantasbusinessrewards.com/claim-missing-points'>claim for flights</a> or <a href='https://www.qantasbusinessrewards.com/claim-missing-partner-points'>from our partners directly</a>.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="qbr-finePrints-Sec-3" id="use">
        <div class='row'>
          <div class="qbr-panel columns">
            <div>
              <div class="large-10 large-push-1">
                <div class="">
                  <div class="large-6 column">
                    <h2>How to use points</h2>
                    <p>When your business has earned at least 3000 points, simply <a href='https://www.qantasbusinessrewards.com/transfer'>transfer</a> these to anyone with a Frequent Flyer account for use on more flights, upgrades or items from the <a href='https://www.qantasstore.com.au/'>Qantas Store</a>.</p>
                    <ul class="qbr-list">
                      <li>Go to the <a href='https://www.qantasbusinessrewards.com/transfer'>Transfer points</a> page</li>
                      <li>Select the Frequent Flyer’s name and amount of points to be transferred (you can even add a new recipient from this screen)</li>
                    </ul>
                  </div>
                  <div class="large-6 column text-center">
                    <img id="use-figure-desktop" class="show-for-desktop-inline" src='/documents/10482/416550/how-to-desktop.svg' alt='How to use points' role="presentation" />
                    <img id="use-figure-mobile" class="show-for-mobile-inline" src='/documents/10482/416550/how-to-mobile.svg' alt='How to use points' role="presentation" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="qbr-finePrints-Sec-4" id="levels">
        <div class='row'>
          <div class="qbr-panel columns">
            <div class="clearfix">
              <div class="large-10 large-push-1">
                <div class="">
                  <div class="large-6 column">
                    <h2>Membership levels explained</h2>
                    <p>Points earned on flights in each year of membership determines your business’ level (1, 2 or 3). So the more you fly, the more you can save. </p>
                    <ul class="qbr-list">
                      <li>Businesses on levels 1 and 2 only have to book seven days in advance to access discounted fares</li>
                      <li>No advance booking is needed for level 3 members.</li>
                    </ul>
                  </div>
                  <div class="large-6 column text-center">
                    <img id="membership-figure-desktop" class="show-for-desktop-inline" src='/documents/10482/416550/membership-levels-desktop.svg' alt='Membership levels explained' role="presentation" />
                  </div>
                </div>
              </div>
            </div>
            <div id="membership-tabs-section" class="clearfix qbr-panel-inline-section">
              <div class='qbr-tabs-container'>
                <div class='row collapse'>
                  <div class='large-10 large-push-1'>
                    <div class="row collapse partner_section2_membershiplevels_tab_container">
                      <div class="partner_section2_membershiplevels_tab_item homepage level1 large-4 small-4 columns text-center" data-ga-level="Level 1" onclick="selectTab('level1');">
                        <h3><strong>Level 1</strong></h3>
                      </div>
                      <div class="partner_section2_membershiplevels_tab_item homepage level2 large-4 small-4 columns text-center" data-ga-level="Level 2" onclick="selectTab('level2');">
                        <h3><strong>Level 2</strong></h3>
                      </div>
                      <div class="partner_section2_membershiplevels_tab_item homepage level3 large-4 small-4 columns text-center" data-ga-level="Level 3" onclick="selectTab('level3');">
                        <h3><strong>Level 3</strong></h3>
                      </div>
                    </div>
                    <div class="row collapse partner_section2_membershiplevels_level_info_container">
                      <div class="columns partner_section2_membershiplevels_level_1 text-center" data-level="#level1" style="display: none;">
                        <div class="row image_text_container">
                          <div>
                            <h2><strong>Level 1</strong></h2>
                          </div>
                          <div class="level_info_image"><img src="/documents/10482/291017/group-7-l1.svg"></div>
                        </div>
                        <div class="row level-points collapse text-center">
                          <div class="columns">
                            <h2>Businesses that earn 0 to 20,000 points from flights in a year</h2>
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="benefits-container">
                            <div class="benefits-container-items">
                              <h2><strong><span id="level1pts">30</span> points</strong></h2>
                              <p>for your business for every 100 points your flyers earn*</p>
                            </div>
                            <div class="benefits-container-items">
                              <h2><strong><span id="level1pct">7</span>% off</strong></h2>
                              <p>base fares of eligible flights<sup>~</sup></p>
                            </div>
                            <div class="benefits-container-items">
                              <h2><strong>10% saving</strong></h2>
                              <p>on Qantas Club membership for employees^</p>
                            </div>
                          </div>
                        </div>
                        <div class="row saving_tools_flex_container">
                          <div class="row collapse savings-section text-center">
                            <div class="columns large-6 small-12 large-centered large-text-center text-left">
                              <h4>5% savings apply when you book at least 7 days in advance. Eligible flights exclude some fares such as Red e-Deal and sale fares.</h4>
                            </div>
                          </div>
                          <div class="row text-center collapse partner_section2_membershiplevels_level_tools">
                            <div class="image_text_container">
                              <div class="partner_section2_membershiplevels_level_tools_image">&nbsp;</div>
                              <div class="partner_section2_membershiplevels_level_tools_text">
                                All members have access to our tools to make booking travel for business easier
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="columns partner_section2_membershiplevels_level_2 text-center" data-level="#level2" style="display: none;">
                        <div class="row image_text_container">
                          <div>
                            <h2><strong>Level 2</strong></h2>
                          </div>
                          <div class="level_info_image"><img src="/documents/10482/291017/group-7-l2.svg"></div>
                        </div>
                        <div class="row level-points collapse text-center">
                          <div class="columns">
                            <h2>Businesses that earn 20,000 to 99,999 points from flights in a year</h2>
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="benefits-container">
                            <div class="benefits-container-items">
                              <h2><strong><span id="level2pts">30</span> points</strong></h2>
                              <p>for your business for every 100 points your flyers earn*</p>
                            </div>
                            <div class="benefits-container-items">
                              <h2><strong><span id="level2pct">7</span>% off</strong></h2>
                              <p>base fares of eligible flights<sup>~</sup></p>
                            </div>
                            <div class="benefits-container-items">
                              <h2><strong>10% saving</strong></h2>
                              <p>on Qantas Club membership for employees^</p>
                            </div>
                          </div>
                        </div>
                        <div class="row saving_tools_flex_container">
                          <div class="row collapse savings-section text-center">
                            <div class="columns large-6 small-12 large-centered large-text-center text-left">
                              <h4>7% savings apply when you book at least 7 days in advance. Eligible flights exclude some fares such as Red e-Deal and sale fares.</h4>
                            </div>
                          </div>
                          <div class="row text-center collapse partner_section2_membershiplevels_level_tools">
                            <div class="image_text_container">
                              <div class="partner_section2_membershiplevels_level_tools_image">&nbsp;</div>
                              <div class="partner_section2_membershiplevels_level_tools_text">
                                All members have access to our tools to make booking travel for business easier
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="columns partner_section2_membershiplevels_level_2 text-center" data-level="#level3" style="display: none">
                        <div class="row image_text_container">
                          <div>
                            <h2><strong>Level 3</strong></h2>
                          </div>
                          <div class="level_info_image"><img src="/documents/10482/291017/group-7-l3.svg"></div>
                        </div>
                        <div class="row level-points collapse text-center">
                          <div class="columns">
                            <h2>Businesses that earn more than 100,000 points from flights in a year</h2>
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="benefits-container">
                            <div class="benefits-container-items">
                              <h2><strong><span id="level3pts">40</span> points</strong></h2>
                              <p>for your business for every 100 points your flyers earn*</p>
                            </div>
                            <div class="benefits-container-items">
                              <h2><strong><span id="level3pct">8</span>% off</strong></h2>
                              <p>base fares of eligible flights<sup>~</sup></p>
                            </div>
                            <div class="benefits-container-items">
                              <h2><strong>2% off</strong></h2>
                              <p>Red e-Deals</p>
                            </div>
                            <div class="benefits-container-items">
                              <h2><strong>10% saving</strong></h2>
                              <p>on Qantas Club membership for employees^</p>
                            </div>
                          </div>
                        </div>
                        <div class="row saving_tools_flex_container">
                          <div class="row collapse savings-section text-center">
                            <div class="columns large-6 small-12 large-centered large-text-center text-left">
                              <h4>No need to book in advance. Savings available on a wide range of fares.</h4>
                            </div>
                          </div>
                          <div class="row text-center collapse partner_section2_membershiplevels_level_tools">
                            <div class="image_text_container">
                              <div class="partner_section2_membershiplevels_level_tools_image">&nbsp;</div>
                              <div class="partner_section2_membershiplevels_level_tools_text">
                                All members have access to our tools to make booking travel for business easier
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='cleafix'>
                <div class='column large-10 large-push-1'>
                  <p class='fineprint'>
                    * All the above benefits apply on eligible flights* and points quoted are required each membership year to reach or retain the business' Level.
                  </p>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="column large-10 large-push-1">
                <div class="row">
                  <div class="column large-6 text-center">
                    <img id="membership-figure-2" src="/documents/10482/416550/membership-figure-2.jpg" alt="Qantas Club">
                  </div>
                  <div class="column large-6">
                    <h2>Save 10% on Qantas Club memberships</h2>
                    <p>Any Frequent Flyer within a business is eligible for discounted membership of the <a href='https://www.qantasbusinessrewards.com/qantas-club'>Qantas Club</a>, whether new or continuing (if renewed within the last 90 days). You can use cash and/or points to join.</p>
                    <p>To join, just call the Qantas Business Rewards Service Centre on <strong>13 74 78</strong>, Monday to Saturday, between 7am and 7pm (AEST).</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="qbr-finePrints-Sec-5" id="users">
        <div class='row'>
          <div class="qbr-panel columns">
            <div>
              <div class="large-10 large-push-1">
                <div class="clearfix">
                  <div class="large-6 column">
                    <h2>How to add users to your account</h2>
                    <p>The account owner or authorised users with full access rights can add additional users to the account.</p>
                    <p>In practice, let’s say someone who arranges most of the travel within a business only needs to manage bookings and credit cards, plus add and remove travellers. They don’t necessarily need to view total points balance or be able to transfer points. </p>
                    <p>This scenario - and other access combinations - can be easily set up by the account owner or anyone with full access on the <a href='https://www.qantasbusinessrewards.com/manage-travellers'>Manage people</a> page.</p>
                  </div>
                  <div class="large-6 column">
                    <figure id="users-figure-1-desktop" class="qbr-basic-figure">
                      <img class="show-for-desktop-inline" src='/documents/10482/416550/users-figure-1-desktop.png' alt='How to add users to your account' />
                      <img class="show-for-mobile-inline" src='/documents/10482/416550/users-figure-1-mobile.png' alt='How to add users to your account' />
                      <p class="caption">Log in to manage people from the dashboard.</p>
                    </figure>
                  </div>
                </div>
                <div class='clearfix'>
                  <div class='column large-12'>
                    <h3 class='show-for-mobile'>User access permissions</h3>
                    <table class="qbr-table">
                      <thead>
                        <tr>
                          <th><h3 class="show-for-desktop">User access permissions</h3></th>
                          <th>Limited</th>
                          <th>Full</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Search and book flights</td>
                          <td class="check"></td>
                          <td class="check"></td>
                        </tr>
                        <tr>
                          <td>Add and manage travellers within your business</td>
                          <td class="check"></td>
                          <td class="check"></td>
                        </tr>
                        <tr>
                          <td>See business points and points activity</td>
                          <td>Optional</td>
                          <td class="check"></td>
                        </tr>
                        <tr>
                          <td>Transfer points</td>
                          <td>Optional</td>
                          <td class="check"></td>
                        </tr>
                        <tr>
                          <td>Manage company bookings and credit cards</td>
                          <td>Optional</td>
                          <td class="check"></td>
                        </tr>
                        <tr>
                          <td>Add and manage users</td>
                          <td></td>
                          <td class="check"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row qbr-subfooter">
      <div class='qbr-disclaimer-div column'>
        <div class='row qbr-subfooter-row'>
          <div class='column large-3'><h2>Find out more about</h2></div>
          <div class='column large-4'>
            <ul class='qbr-subfooter-nav'>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#aboutprogram'>Qantas Business Rewards in detail</a></li>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#joining'>Joining the program</a></li>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#qantaspoints'>Qantas Points</a></li>
              <li class="mobile-border-btm"><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#earningbyflying'>Earning through flying</a></li>
            </ul>
          </div>
          <div class='column large-4'>
            <ul class='qbr-subfooter-nav'>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#membershiplevels'>Membership levels</a></li>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#earnthroughpartners'>Earning through partners</a></li>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#savings'>Savings and discounts</a></li>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/faqs#toolsandfeatures'>Tools and features</a></li>
            </ul>
          </div>
          <div class='column large-1'></div>
        </div>
        <div class='row qbr-subfooter-row'>
          <div class='column large-3'><h2>Like to get in touch?</h2></div>
          <div class='column large-4'>
            <ul class='qbr-subfooter-nav'>
              <li><a class="qbr" href='https://www-staging.qantasbusinessrewards.com/contactus'>Contact us</a></li>
            </ul>
          </div>
          <div class='column large-1'></div>
        </div>
      </div>
    </div>
  </section>
  <a class="back-to-top" href="#">Back to Top</a>
</div>
