@mixin desktop {
  @media (min-width: 60em) {
    @content;
  }
}

@mixin maxSmall {
  @media (max-width: 47.9375em) {
    @content;
  }
}

@mixin maxMedium {
  @media (max-width: 59.9375em) {
    @content;
  }
}
