$charcoal: #323232;
$text-light: #f4f5f6;

@mixin qbr-dark {
  background: $charcoal;
  color: $text-light;
  h1,
  h2,
  h3,
  h4,
  p,
  a,
  li {
    color: $text-light;
  }
  .qbr-list li:before {
    background: $text-light;
  }
}

.qbr-dark {
  @include qbr-dark;
}
