@font-face {
  font-family: "Ciutadella";
  src: url("../../fonts/Ciutadella-Regular.eot");
  src: url("../../fonts/Ciutadella-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Ciutadella-Regular.woff") format("woff"),
    url("../../fonts/Ciutadella-Regular.ttf") format("truetype"),
    url("../../fonts/Ciutadella-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;
}
@font-face {
  font-family: "Ciutadella";
  src: url("../../fonts/Ciutadella-Medium.eot");
  src: url("../../fonts/Ciutadella-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Ciutadella-Medium.woff") format("woff"),
    url("../../fonts/Ciutadella-Medium.ttf") format("truetype"),
    url("../../fonts/Ciutadella-Medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-variant-ligatures: none;
}
.qbr-FinePrint-center-hd {
  padding-top: 77px;
  padding-bottom: 28px;
}
.qbr-FinePrint-topSection {
  padding-bottom: 60px;
  border-bottom: solid 1px #f4f5f6;
}
.qbr-FinePrint-down-arrow-top {
  position: relative;
}
.qbr-finePrint-box-main {
  width: 100%;
  border-radius: 4px;
  padding: 25px 10px;
  background-color: #fff;
}
.qbr-finePrint-box-main .row {
  padding-top: 8px;
  @include desktop {
    padding-top: 15px;
  }
}
.qbr-finePrints-middleSec {
  background-image: url(/documents/10482/0/qbr-FinePrint-curve-8VH1NVF6.svg);
  background-color: #f4f5f6;
  background-repeat: no-repeat;
  background-size: 100%;
}
.qbr-finePrints-middleSec {
  padding: 50px 10px 40px;
}
.qbr-finePrint-box-imd-cnt {
  padding-bottom: 15px;
  padding-top: 8px;
}
.qbr-finePrint-box-main ul {
  list-style: none;
  margin-bottom: 5px;
  margin-left: 20px;
}
.qbr-finePrint-li-hd {
  font-size: 18px;
  line-height: 1.6;
  color: #323232;
  font-weight: 500;
}
.qbr-finePrint-li-p {
  font-size: 18px;
  line-height: 1.56;
  color: #323232;
  list-style-image: url(/documents/10482/0/qbr-FinePrint-tick.svg);
}
.qbr-FinePrint-ovalRed .qbr-finePrint-li-p {
  font-size: 18px;
  line-height: 1.56;
  color: #323232;
  list-style-image: url(/documents/10482/0/qbr-FinePrint-exclaim.svg);
}
.qbr-finePrint-underlnLink {
  text-decoration: underline;
}
.qbr-finePrint-groupImg-cnt {
  padding: 30px 0px;
}
.qbr-finePrints-middleSec h4 {
  font-weight: 600;
  padding-top: 15px;
  margin-bottom: 0px;
}
.qbr-finePrints-middleSec-topHd,
.qbr-finePrints-middleSec-topHdImg {
  display: inline-block;
}
.qbr-finePrints-middleSec-topHdImg {
  vertical-align: sub;
  padding-left: 5px;
  width: 89%;
}
.qbr-finePrints-middleSec-topHd {
  vertical-align: top;
  margin-top: 5px;
}
.items[data-columns]::before {
  content: "2 .column.size-1of2";
}
.item__wrap {
  margin-bottom: 40px;
}
.item__image {
  /* responsive */
  max-width: 100%;
  height: auto;
  display: block;
}
.size-1of2 {
  width: 50%;
}
.size-1of3 {
  width: 33.333%;
}
.size-1of4 {
  width: 25%;
}
@media screen and (max-width: 47.9375em) {
  .items[data-columns]::before {
    content: "1 .column.size-1of1";
  }
}
@media screen and (min-width: 48em) {
  .items[data-columns]::before {
    content: "2 .column.size-1of2";
  }
}
.qbr-disclaimer-div {
  margin-top: 66px;
}
.qbr-disclaimer-div p {
  font-size: 14px;
}
.qbr-FinePrint-save-image {
  text-align: center;
  padding: 20px 0;
}
.qbr-finePrints-middleSec-block-cnt {
  margin-bottom: 30px;
}
.qbr-finePrint-nav {
  margin: 0;
  text-align: center;
  @include desktop {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}
.qbr-finePrint-nav-fixed-main {
  width: 100%;
  z-index: 999;
}
.qbr-finePrint-nav-fixed {
  width: 100%;
  background-color: #fff;
  z-index: 999;
  border-bottom: 1px solid #f4f5f6;
}
.qbr-finePrint-selectLink {
  border-bottom: 3px solid red;
  font-weight: bold;
}
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: url("/documents/10482/0/Arrow_up_new.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 60em) {
  .qbr-finePrint-nav li {
    display: inline;
  }
  .qbr-finePrint-nav li a {
    display: inline-block;
  }
  .qbr-finePrint-nav-mobile {
    display: none;
  }
  .qbr-finePrint-nav-desk {
    display: block;
  }
}
@media (max-width: 59.9375em) {
  .qbr-finePrint-nav-mobile {
    display: block;
  }
  .qbr-finePrint-nav-desk {
    display: none;
  }
  .qbr-finePrints-middleSec-topHd {
    width: 8%;
  }
}
.qbr-finePrint-nav li a {
  height: 3rem;
  line-height: 2.7em;
  display: inline-block;
  font-size: 1.125rem;
  padding: 0 0.9rem;
  color: #323232;
  -webkit-transition: all 0.8s;
  transition: all 0.2s;
}
.qbr-finePrint-nav-mobile {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 600;
  transition: opacity 0.5s, top 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
  box-shadow: 0 1px 5px #dadada;
}
.qbr-finePrint-nav-join-nav {
  display: none;
}
.qbr-finePrint-nav-join {
  height: 3rem;
  line-height: 2.7em;
  display: inline-block;
  font-size: 1.125rem;
  margin: 0 2.5rem;
  color: #323232 !important;
  -webkit-transition: all 0.8s;
  transition: all 0.2s;
}
.qbr-finePrint-nav-chev:before {
  content: " ";
  background-image: url(/documents/10482/0/arrowUpChevron.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  height: 45px;
  width: 15px;
  position: absolute;
  right: 10%;
}
.transform:before {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.qbr-finePrint-Mobnav li {
  border-top: 1px solid #f4f5f6;
}
