h2 {
  margin-bottom: 18px;
  @include desktop {
    margin-bottom: 30px;
  }
}

ul.qbr-list {
  margin: 0 0 16px;
  display: inline-block;
  @include desktop {
    margin: 0 0 20px 10px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  li {
    list-style: none;
    padding-left: 20px;
    position: relative;
    font-size: 18px;
    &:before {
      content: "";
      width: 3px;
      height: 3px;
      position: absolute;
      left: 0;
      top: 14px;
      border-radius: 50%;
      background: #0a0a0a;
    }
  }
}

a.qbr-link-secondary {
  color: $charcoal;
  text-decoration: underline;
}
