#qbr-main-header {
  position: relative;
  padding-bottom: 3rem;

  .qbr-main-header-nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    &.is-fixed {
      position: fixed;
      top: 0;
      bottom: auto;
      overflow: visible;
      border-bottom: none;
    }
  }
  .qbr-finePrint-nav-join-nav {
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 3rem;
    box-shadow: 0 1px 5px #dadada;
    border-bottom: 1px solid #f4f5f6;
  }
}
