.qbr-basic-figure {
  margin: 0;
  img {
    margin-bottom: 10px;
  }
  .caption {
    font-size: 16px;
  }
}

.qbr-panel {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 28px 0;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  @include desktop {
    padding: 60px 0;
    margin-bottom: 60px;
  }
  &--small-no-pad-btm {
    @include maxMedium {
      padding-bottom: 0;
    }
  }
}

.qbr-panel-inline-section {
  margin: 30px 0;
  @include desktop {
    margin: 28px 0 60px;
  }
}

.qbr-promo {
  padding: 28px 23px;
  @include desktop {
    padding: 38px;
    border-radius: 4px;
  }
  a {
    text-decoration: underline;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    @include desktop {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
    &:before {
      content: "";
      display: block;
      width: 38px;
      height: 38px;
      margin-right: 20px;
      background: url("../assets/lightbulb-blue.svg") no-repeat;
    }
  }
  &--inline {
    margin: 35px 0 58px;
    padding: 33px 33px 45px;
    @include desktop {
      padding: 55px 84px 60px;
      border-radius: 4px;
    }
  }
}

.qbr-logo-badge {
  &:nth-child(odd) {
    padding-right: 6px;
    @include desktop {
      padding-right: 10px;
    }
  }
  &:nth-child(even) {
    padding-left: 6px;
    @include desktop {
      padding-left: 10px;
    }
  }
}

.qbr-logo-badge-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  margin-bottom: 14px;
  border-radius: 4px;
  background: $text-light;
}

.medium-column-thick-pad {
  @include maxMedium {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.column.medium-collapse {
  @include maxMedium {
    padding-left: 0;
    padding-right: 0;
  }
}

.show-for-mobile-inline {
  @include desktop {
    display: none;
  }
}

.show-for-desktop-inline {
  display: none;
  @include desktop {
    display: inline;
  }
}

.qbr-table {
  margin: 0;
  border: none;
  font-size: 18px;
  thead,
  tbody {
    border: none;
    background: none;
  }
  thead {
    color: #4a4a4a;
    th {
      vertical-align: bottom;
    }
  }
  tbody {
    color: #4a4a4a;
    tr {
      &:nth-child(odd) {
        background: $text-light;
      }
      &:nth-child(even) {
        background: none;
      }
    }
  }
  th,
  td {
    padding: 12px;
    h3 {
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 700;
    }
    &.check {
      background: url('../assets/table-check.svg') no-repeat center;
    }
    &:first-child {
      min-width: 50%;
    }
    &:nth-child(2),
    &:nth-child(3) {
      width: 25%;
      text-align: center;
    }
    @include desktop {
      padding: 11px 32px;
      &:first-child {
        width: 55%;
      }
      &:nth-child(2),
      &:nth-child(3) {
        text-align: center;
        width: 22.5%;
      }
    }
  }
  tr {
    border: none;
  }
  th {
    font-size: 16px;
    @include desktop {
      font-size: 18px;
      padding: 6px 32px;
    }
  }
}
