// Earning Points

#earning-figure-1 {
  margin-top: 50px;
}

#earning-figure-2 {
  max-width: 270px;
  position: relative;
  left: 13px;
  margin-top: 25px;
}

#earning-logos {
  margin: 15px 0 10px;
  @include desktop {
    margin: 45px 0 20px;
  }
}

// Tracking Points

#track-promo {
  margin-top: 30px;
  @include desktop {
    margin-top: 0;
  }
}

// Using points
#use-figure-mobile {
  margin-top: 27px;
}

#use-figure-desktop {
  margin-top: 40px;
}

// Membership levels
#membership-figure-desktop {
  margin-top: 130px;
  margin-left: 50px;
}

#membership-tabs-section {
  padding: 10px 0;
  @include desktop {
    padding: 60px 0;
    background: $charcoal;
  }
  .qbr-tabs-container {
    @include desktop {
      margin-bottom: 20px;
    }
    h2 {
      margin-bottom: 0;
    }
    h4 {
      padding: 0;
      font-weight: normal;
    }
  }
  .fineprint {
    @include desktop {
      color: $text-light;
      text-align: center;
      font-size: 14px;
    }
  }
}

#membership-figure-2 {
  max-width: 270px;
  margin-bottom: 25px;
  @include desktop {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
  }
}

// Add users
#users-figure-1-desktop {
  @include desktop {
    margin-top: 80px;
  }
}

// footer

.qbr-subfooter {
  h2 {
    @include desktop {
      margin-top: 4px;
    }
  }
}

.qbr-subfooter-row {
  margin-bottom: 45px;
  &:last-child {
    margin-bottom: 0;
  }
}

ul.qbr-subfooter-nav {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      &:not(.mobile-border-btm) {
        border-bottom: none;
      }
      @include desktop {
        border-bottom: none;
      }
    }
    a {
      display: flex;
      align-items: center;
      width: 100%;
      color: $charcoal;
      position: relative;
      &:hover {
        text-decoration: underline;
      }
      &:after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
