.qbr-partner_section2_membershiplevels_levels h1,
.qbr-partner_section2_membershiplevels_levels h2,
.qbr-partner_section2_membershiplevels_levels h3,
.qbr-partner_section2_membershiplevels_levels h4,
.qbr-partner_section2_membershiplevels_levels h5,
.qbr-partner_section2_membershiplevels_levels h6,
.qbr-partner_section2_membershiplevels_levels p{
  margin-bottom: 0px;
}
.qbr-partner_section2_membershiplevels_levels .row .row{
  margin-left: 0px;
    margin-right: 0px;
}
.qbr-partner_section2_membershiplevels_levels{
  background-color: #f4f5f6;
  padding: 0px 15px 60px 15px;
}
.qbr-partner_section2_membershiplevels_examples{
  background-color: #ffffff;
  padding: 55px 0px;
}
@media screen and (max-width: 59.9375em) {
  .qbr-partner_section2_membershiplevels_examples{
    padding-top: 0px;
  }
}
.partner_section2_membershiplevels_tab_item{
  background: #e5e5e5;
    padding: 8px 0px 8px 0px;
  cursor: pointer;
}
.partner_section2_membershiplevels_tab_item.active{
  background-color: #ffffff;
    border-top: 4px red solid;
    display: inline-block;
    padding-top: 4px;
}
.partner_section2_membershiplevels_level_info_container{
  background-color: #ffffff;
  padding-top: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
@media screen and (max-width: 59.9375em) {
  .partner_section2_membershiplevels_level_info_container{
    padding: 50px 25px 0px 25px;
  }
}
.partner_section2_membershiplevels_tab_item:nth-child(1) {
    border-top-left-radius: 4px;
}
.partner_section2_membershiplevels_tab_item:nth-child(3) {
    border-top-right-radius: 4px;
}
.partner_section2_membershiplevels_level_tools{
  padding: 16px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #f4f5f6;
  @include desktop {
    background-color: #e5e5e5;
  }
}
.partner_section2_membershiplevels_level_tools_image{
  background-image: url(/documents/10482/291017/shape-copy.svg);
  width: 40px;
    height: 29px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.level-points{
  padding-top: 20px;
  padding-bottom: 30px;
}
@media screen and (max-width: 59.9375em) {
  .level-points{
    text-align: left;
  }
}

.benefits-container-items {
  padding: 20px 20px 12px 20px;
  background: #f4f5f6;
  text-align: left;
  border-radius: 8px;
}
@media screen and (min-width: 60em) {
  .benefits-container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits-container-items {
    flex-basis: 160px;
    padding: 20px 20px 12px 20px;
  }
  .benefits-container-items:not(:first-child){
    margin-left: 20px;
  }

  .partner_section2_membershiplevels_level_tools_text{
      padding-left: 0px;
    text-align: left;
  }
}

@media screen and (max-width: 59.9375em) {
  .benefits-container {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .benefits-container-items{
    margin-bottom: 15px;
  }
}


.row.savings-section{
  margin-left: auto;
    margin-right: auto;
  padding: 30px 0px 20px 0px;
}
.image_text_container{
  display: table;
    margin-left: auto;
    margin-right: auto;
}
.qbr-partner_section2_membershiplevels_levels .image_text_container{
  display: table;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media screen and (max-width: 59.9375em) {
  .qbr-partner_section2_membershiplevels_levels .image_text_container{
    margin-left: 0px!important;
  }
}

@media screen and (min-width: 60em) {
  .qbr-partner_section2_membershiplevels_levels{

    background-image: url(/documents/10482/30308/page-1-copy.svg),url(/documents/10482/30308/fill-1.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: right 18% top 18%,left 15% top 42px;
  }
}
.image_text_container div{
  float: left;
}
@media screen and (max-width: 59.9375em) {
  .partner_section2_membershiplevels_level_tools .image_text_container div{
    float: none;
  }
}
.partner_section2_membershiplevels_level_tools .image_text_container div{
  display: table-cell;
}
.partner_section2_membershiplevels_level_tools_image{
  display: table-cell;
}
.partner_section2_membershiplevels_level_tools_text{
  font-size: 18px;
  padding-left: 20px;
}
@media screen and (max-width: 59.9375em) {
  .partner_section2_membershiplevels_level_tools .image_text_container div{
    display: block;
  }
  .partner_section2_membershiplevels_level_tools .image_text_container{
    display: inherit;
  }
  .partner_section2_membershiplevels_level_tools_text {
    padding-left: 0px;
    text-align: left;
    padding-top: 5px;
  }
}

.partner_section2_membershiplevels_level_questions_container{
  display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  padding-bottom: 30px;
}
.partner_section2_membershiplevels_level_questions_item{
  flex-basis: 402px;
}
.partner_section2_membershiplevels_level_questions_item a.qbr{
  margin-top: 15px;
    display: block;
}
.partner_section2_membershiplevels_level_questions_answer {
    padding-top: 10px;
}
@media screen and (max-width: 59.9375em) {
  .partner_section2_membershiplevels_level_questions_container{
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .partner_section2_membershiplevels_level_questions_item{
    flex-basis: inherit;
    padding-top: 25px;
  }
}
.level_info_image{
  padding-left: 10px;
}
@media screen and (max-width: 59.9375em) {
  .level_info_image {
    padding: 3px 0px;
  }
  .level_info_image>img {
    width: 80%;
  }
}
.saving_tools_flex_container{
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  @include desktop {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
@media screen and (max-width: 59.9375em) {

  .row.savings-section{
    order: 2;
  }
  .partner_section2_membershiplevels_level_tools{
    order: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
.section-earn.flying .section-earn flying{
    padding-bottom: 0px;
}
.qbr-home-jumplink{
  background: #f4f5f6;
}
.qbr-partner_section2_membershiplevels_levels .sub-section-heading h1{
  margin-bottom: 0px;
  padding-left: 45px;
}
@media screen and (max-width: 59.9375em) {
  .qbr-partner_section2_membershiplevels_levels .sub-section-heading h1{
    max-width: 270px;
  }

}
@media screen and (max-width: 59.9375em){
  .qbr-home .section-redeem .sub-section-heading {
    padding-bottom: 43px;
  }
  .section-earn.business .sub-section-heading .columns p {
    padding-left: 70px;
  }
}
a.qbr-general-action-btn.bkg-clear:not(:hover){
  background: transparent;
}
.qbr-home .earn-flying-button .columns a.qbr-general-action-btn{
  margin-top: 50px;
}
